:root {
    --main-gradient: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(17, 101, 189, 1) 75%);
    ;
}

body {
    background: var(--main-gradient);
    width: 100vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
        height: 100vh;
        background-color: #000;
        padding: 10px;

        button {
            background-color: #fff;
            border: #000 1px solid;
            border-radius: 50px;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            box-shadow:
                0px 2px 4px rgba(0, 0, 0, 0.4),
                0px 7px 13px -3px rgba(0, 0, 0, 0.3),
                inset 0px -3px 0px rgba(0, 0, 0, 0.5);
            font-size: 100%;
        }
    }

    section {
        position: relative;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 20vw;
        }

        h1 {
            font-size: 5vw;
        }
    }
}

.areaMembros {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100vh;
    overflow: hidden;

    nav {
        display: flex;
        justify-content: center;
    }

    button {
        background-color: #fff;
        border: #000 1px solid;
        border-radius: 50px;
        margin: 10px;
        padding: 10px;
        cursor: pointer;
        box-shadow:
            0px 2px 4px rgba(0, 0, 0, 0.4),
            0px 7px 13px -3px rgba(0, 0, 0, 0.3),
            inset 0px -3px 0px rgba(0, 0, 0, 0.5);
        font-size: 100%;
    }
}

.areaMembros::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/frontend/public/imagens/Oracao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.areaConsultas{
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100vh;
    overflow: hidden;
}
@media screen and (max-width: 600px) {
    main {
        flex-direction: column;

        nav {
            width: 100vw;
            height: 20vh;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            button {
                padding: 0%;
                width: 25%;
                height: 40%;
                border-radius: 50px;
                text-align: center;
            }
        }

        section {
            width: 100vw;
            height: 80vh;
        }
    }

    .areaMembros {
        position: absolute;
        top: 20vh;
        width: 100vw;
        height: 80vh;
        overflow: hidden;

        button {
            padding: 0%;
            width: 25%;
            height: 7vw;
            border-radius: 50px;
            text-align: center;
            font-size: 3vw;
        }
    }

    .areaConsultas{
        position: absolute;
        top: 20vh;
        width: 100vw;
        height: 80vh;
        overflow: hidden;
    }
}

@media screen and (max-width: 260px) {
    body {
        display: none;
    }
}