:root {
    --main-gradient: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(17, 101, 189, 1) 75%);
    ;
}

.carregando {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.spinner img {
    width: 100px;
    height: auto;
}

body {
    background: var(--main-gradient);
    width: 100vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

/* Sessão para estilização da pagGerenciamento */
main {
    display: flex;

    nav {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 20vw;
        height: 100vh;
        background-color: #000;
        padding: 10px;

        .botoes {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            button {
                background-color: #fff;
                border: #000 1px solid;
                border-radius: .4rem;
                margin: 10px;
                padding: 10px;
                cursor: pointer;
                box-shadow:
                    0px 2px 4px rgba(0, 0, 0, 0.4),
                    0px 7px 13px -3px rgba(0, 0, 0, 0.3),
                    inset 0px -3px 0px rgba(0, 0, 0, 0.5);

                a {
                    font-size: 125%;
                }
            }
        }

        img {
            filter: invert(1);
            width: clamp(30px, 40px, 50px);
            cursor: pointer;
        }
    }

    section {
        position: relative;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 20vw;
        }

        h1 {
            font-size: 5vw;
        }
    }
}

/* Essa estilização é responsáveis pelo menu lateral preto das páginas de membros, igreja e adms */
.abaNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    height: 100vh;
    background-color: #000;
    padding: 10px;

    .botoes {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        button {
            background-color: #fff;
            border: #000 1px solid;
            border-radius: .4rem;
            margin: 10px;
            padding: 10px;
            cursor: pointer;
            box-shadow:
                0px 2px 4px rgba(0, 0, 0, 0.4),
                0px 7px 13px -3px rgba(0, 0, 0, 0.3),
                inset 0px -3px 0px rgba(0, 0, 0, 0.5);

            a {
                font-size: 125%;
            }
        }
    }

    img {
        filter: invert(1);
        width: clamp(30px, 40px, 50px);
        cursor: pointer;
    }
}

/* Sessão para estilização da pagMembros */
.areaMembros {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    overflow: hidden;
}

.abaMembros {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 95%;
    width: 80vw;
    top: 0;
    right: 0;
}

.abaMembros h2 {
    color: #000;
}

.abaMembros a {
    background-color: #fff;
    border: #000 1px solid;
    border-radius: .4rem;
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    cursor: pointer;
    box-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.4),
        0px 7px 13px -3px rgba(0, 0, 0, 0.3),
        inset 0px -3px 0px rgba(0, 0, 0, 0.5);
    font-size: 100%;
}

/* Paginação */

.numerosPagina {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;

    ul {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 1px;
            width: 30px;
            text-align: center;
            height: 30px;
        }
    }
}


/* Tabela */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    /*height: 90vh;*/
    background-color: #367bc3;
    padding: 5xp;
    border-radius: 10px;
}

#customers td,
#customers th {
    border: 1px solid #1165bd;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

#customers tr:nth-child(even) {
    background-color: #5a93cf;
}

#customers tr:hover {
    background-color: #1165bd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #094e96;
    color: white;
    text-align: center;
}

#customers .tituloUnidade,
#customers .tituloAcoes {
    width: 25%;
}

#customers .colunaAcoes {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 5px;
}

#customers .acaoNome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(10vw, 10vw, 10vw);
    height: 30px;
    margin: 2px;
    padding: 0;
    background-color: #000;
    color: #fff;
}

#customers .icone {
    display: none;
}

#customers .texto {
    font-size: 100%;
}

.areaMembros::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/frontend/public/imagens/Oracao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

/* Sessão para estilização da pagIgrejas */
.areaConsultas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.areaConsultas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/frontend/public/imagens/Oracao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

@media screen and (max-width: 600px) {

    /* PagGerenciamento */
    main {
        flex-direction: column;
        height: 100vh;

        nav {

            width: 100vw;
            height: 15vh;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .botoes {
                height: 100%;
                width: 80%;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                button {
                    width: 40%;
                    background-color: #fff;
                    border: #000 1px solid;
                    border-radius: .4rem;
                    margin: 3px;
                    padding: 3px;
                    cursor: pointer;
                    box-shadow:
                        0px 2px 4px rgba(0, 0, 0, 0.4),
                        0px 7px 13px -3px rgba(0, 0, 0, 0.3),
                        inset 0px -3px 0px rgba(0, 0, 0, 0.5);
                }

                a {
                    font-size: 80%;
                }
            }

            img {
                width: 8vw;
            }
        }

        section {
            width: 100vw;
            height: 85vh;
        }
    }


    /* pagMembros */
    .areaMembros {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .abaMembros {
        width: 100vw;
        height: 80vh;

        h2 {
            font-size: 7vw;
        }

        a {
            display: flex;
            align-items: center;
            height: 15px;
        }
    }

    /* Essa estilização é responsáveis pelo menu preto das páginas de membros, igreja e adms */
    .abaNav {
        width: 100vw;
        height: 20vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .botoes {
            height: 100%;
            width: 90%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-right: 10px;

            button {
                width: 50%;
                background-color: #fff;
                border: #000 1px solid;
                border-radius: .4rem;
                margin: 1px;
                padding: 3px;
                cursor: pointer;
                box-shadow:
                    0px 2px 4px rgba(0, 0, 0, 0.4),
                    0px 7px 13px -3px rgba(0, 0, 0, 0.3),
                    inset 0px -3px 0px rgba(0, 0, 0, 0.5);
            }

            a {
                font-size: 80%;
            }
        }

        img {
            width: 8vw;
        }
    }

    /* Tabela */
    #customers {
        width: 90vw;
        height: 90%;
        font-size: 4vw;
    }

    #customers .colunaAcoes {
        display: flex;
        flex-wrap: wrap;
    }

    #customers .acaoNome {
        background-color: #fff;
        height: 7vw;
    }

    #customers .icone {
        display: block;
        width: 5vw;
        height: vw;
    }

    #customers .texto {
        display: none;
    }
}

@media screen and (max-width: 260px) {
    body {
        display: none;
    }
}