:root {
    --main-gradient: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(17, 101, 189, 1) 75%);
    ;
}

body {
    background: var(--main-gradient);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        height: 100%;
        filter: invert(1); /* Inverte a cor */
    }

    h1 {
        font-size: 3vw;
        color: #fff;
    }

    a {
        img {
            width: 4vw;
        }
    }
}

hr {
    width: 90%;
    background-color: #000;
}

.login-wrap {
    position: relative;
    margin: auto;
    margin-top: 50px;
    background: #ecf0f1;
    width: 500px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;

    h2 {
        text-align: center;
        font-weight: 200;
        font-size: 2em;
        margin-top: 10px;
        color: #000;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input[type="email"],
        input[type="password"],
        button {
            width: 80%;
            margin-bottom: 25px;
            height: 40px;
            border-radius: 5px;
        }

        input[type="email"],
        input[type="password"] {
            border: 1px solid #bbb;
            padding: 0 0 0 10px;
            font-size: 14px;

            &:focus {
                border: 1px solid #3498db;
            }
        }

        button {
            background: #000;
            border: none;
            color: white;
            font-size: 18px;
            font-weight: 200;
            cursor: pointer;
            transition: box-shadow .4s ease;

            &:hover {
                box-shadow: 1px 1px 5px #555;
            }

            &:active {
                box-shadow: 1px 1px 7px #222;
            }
        }
    }
}


@media screen and (max-width: 600px) {

    header {

        h1 {
            display: none;
        }

        a{
            img{
                width: clamp(6vw, 7vw, 8vw);
            }
        }
    }

    .login-wrap {
        width: 80%;
    }


}

@media screen and (max-width: 260px) {
    body {
        display: none;
    }
}