.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: #fff;
    padding: 40px; 
    border-radius: 10px;
    width: 70%; 
    max-width: 800px; 
    height: auto; 
    overflow-y: auto; 
}

.close {
    color: #ff1313;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


#customersModal {
    width: 100%;
    border-collapse: collapse;
}

#customersModal td,
#customersModal th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#customersModal tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customersModal tr:hover {
    background-color: #ddd;
}


button.visualizar-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.visualizar-btn:hover {
    background-color: #45a049;
}