:root {
    --main-gradient: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(17, 101, 189, 1) 75%);
    ;
}

.carregando {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.spinner img {
    width: 100px;
    height: auto;
}

body {
    background: var(--main-gradient);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;


    header {
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            height: 100%;
            filter: invert(1);
        }

        h1 {
            font-size: 3vw;
            color: #fff;
        }

        a {
            img {
                width: 4vw;
            }
        }
    }

    hr {
        width: 90%;
        background-color: #000;

    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 80vw;
        background-color: #ECF0F1;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;

        h2 {
            font-size: 2vw;
            color: #000;
            text-align: center;
        }

        .dadosPessoais,
        .dadosEclesiarticos {
            display: flex;
            flex-wrap: wrap;
            border: none;
            margin-top: 20px;
            font-size: 1.3vw;


            label {
                display: flex;
                flex-direction: column;
                margin: 5px;
                text-align: center;


                input {
                    height: 20px;
                    border: solid 1px #000;
                }
            }

            .caixaGde {
                width: 30%;
            }

            .caixaPqna {
                width: 15%;
            }

            .batismoAguas {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .radio {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;

                    input {
                        margin: 0 5px;
                    }
                }

                #campoData {
                    display: none;
                }

            }

            .cargoIgreja {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .radio {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;

                    input {
                        margin: 0 5px;
                    }
                }

                #campoCargo {
                    display: none;
                }
            }
        }

        .dadosEclesiarticos {
            justify-content: space-evenly;
        }

        legend {
            font-size: 1.5vw;
            color: #000;
            text-align: center;
        }

        button {
            background: #000;
            margin: auto;
            border: none;
            color: white;
            font-size: 18px;
            font-weight: 200;
            cursor: pointer;
            transition: box-shadow .4s ease;
            width: 200px;
            height: 30px;
            margin-top: 50px;

            &:hover {
                box-shadow: 1px 1px 5px #555;
            }

            &:active {
                box-shadow: 1px 1px 7px #222;
            }
        }
    }
}


@media screen and (min-width: 601px) and (max-width: 900px) {

    form {
        header {
            h1 {
                font-size: 5vw;
            }
        }
    }

}

@media screen and (min-width: 401px) and (max-width: 600px) {

    body {
        height: auto;

        header {
            h1 {
                display: none;
            }

            a {
                img {
                    width: 10vw;
                }
            }
        }

        form {

            margin-bottom: 30px;

            h2 {
                font-size: 20px;
            }

            .dadosPessoais,
            .dadosEclesiarticos {
                label {
                    font-size: 13px;
                }

                .caixaGde {
                    width: 100%;
                }

                .caixaPqna {
                    width: 45%;
                }

                .dataConversao {
                    width: 60%;
                }
            }

            legend {
                font-size: 15px;
            }
        }
    }
}

@media screen and (min-width: 261px) and (max-width: 400px) {

    body {

        header {

            h1 {
                display: none;
            }

            a {
                img {
                    width: 10vw;
                }
            }
        }

        form {
            h2 {
                font-size: 20px;
            }

            .dadosPessoais,
            .dadosEclesiarticos {

                label{
                    font-size: 13px;
                }

                .caixaGde {
                    width: 100%;
                }

                .caixaPqna {
                    width: 100%;
                }
            }

            legend {
                font-size: 15px;
            }

            button {
                width: 30vw;
                height: 20px;
                font-size: 12px;
            }
        }
    }
}


@media screen and (max-width: 260px) {
    body {
        display: none;
    }
}