:root {
    --main-gradient: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(17, 101, 189, 1) 75%);
    ;
}

body {
    background: var(--main-gradient);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        height: 100%;
        filter: invert(1);
    }

    h1 {
        font-size: 3vw;
        color: #fff;
    }

    a {
        img {
            width: 4vw;
        }
    }
}

hr {
    width: 90%;
    background-color: #000;

}

form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: #ECF0F1;
    padding: 10px;
    margin-top: 50px;

    h2 {
        font-size: 2vw;
        color: #000;
        text-align: center;
    }

    .dadosPessoais,
    .dadosEclesiarticos {
        display: flex;
        flex-wrap: wrap;
        border: none;
        margin-top: 20px;


        label {
            display: flex;
            flex-direction: column;
            margin: 5px;
            text-align: center;

            input {
                height: 20px;
                border: solid 1px #000;
            }
        }

        .caixaGde {
            width: 50%;
        }

        .caixaPqna {
            width: 15%;
        }

        .batismoAguas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .radio {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 5px;

                input {
                    margin: 0 5px;
                }
            }

            #campoData {
                display: none;
            }

        }

        .cargoIgreja {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .radio {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 5px;

                input {
                    margin: 0 5px;
                }
            }

            #campoCargo {
                display: none;
            }
        }
    }

    .dadosEclesiarticos {
        justify-content: center;
    }

    legend {
        font-size: 1.5vw;
        color: #000;
        text-align: center;
    }

}

@media screen and (max-width: 800px) {

}
@media screen and (max-width: 600px) {

    body{
        height: auto;

        header{
            h1{
                display: none;
            }

            a{
                img{
                    width: 10vw;
                }  
            }
        }

        form{

            margin-bottom: 50px;

            h2 {
                font-size: 20px;
            }
    
            .dadosPessoais, .dadosEclesiarticos {
                .caixaGde {
                    width: 100%;
                }
        
                .caixaPqna {
                    width: 45%;
                }
            }
    
            legend {
                font-size: 15px;
            }
        }

    }
    


}
/* ######################################################## */
@media screen and (max-width: 400px) {

    header h1 {
        display: none;
    }

    form{
        h2 {
            font-size: 20px;
        }

        .dadosPessoais, .dadosEclesiarticos {
            .caixaGde {
                width: 100%;
            }
    
            .caixaPqna {
                width: 100%;
            }
        }

        legend {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 260px) {
    body {
        display: none;
    }
}